{
    "env": {
        "mocha": true
    },

    "plugins": [ "eslint-plugin-mocha" ],

    "rules": {
        "no-unused-expressions": 0,
        "max-nested-callbacks": [ 2, 5 ],

        "mocha/no-exclusive-tests": 2
    }
}
