{
    "env": {
        "mocha": true
    },

    "plugins": [ "eslint-plugin-mocha" ],

    "rules": {
        "no-unused-expressions": "off",
        "max-nested-callbacks": [ "error", 5 ],
        "max-statements": "off",

        "mocha/no-exclusive-tests": "error"
    }
}
