{
    "presets": [
        [
            "env", { "targets": { "node": "4" } }
        ]
    ],
    "env": {
        "coverage": {
            "sourceMaps": "inline",
            "plugins": [ "istanbul" ]
        }
    }
}
