{
    "extends": "holidaycheck/es2015",

    "env": {
        "node": true
    },

    "globals": {
        "Promise": true
    },

    "parserOptions": {
        "ecmaFeatures": {
            "globalReturn": false
        }
    }
}
