/.github
/.husky
/.vscode
/.yarn
/scripts
/src
/test
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitignore
/.prettierignore
/.swcrc
/.yarnrc.yml
/git-hook-tasks.config.json
/jest.config.cjs
/jest.setup.mjs
/prettier.config.js
/tsconfig.json