{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2020",
    "keepClassNames": true,
    "minify": {
      "keepFnames": true,
      "keepClassnames": true,
      "mangle": false,
      "compress": false
    },
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  },
  "module": {
    "type": "es6",
    "strict": true
  }
}
