name: Continuous integration

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest
        name: Node v20
        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 20
            - name: Install dependencies
              run: npm clean-install
            - name: Static code analysis
              run: npm run lint
            - name: Compile Typescript
              run: npm run compile
            - name: Run tests
              run: npm test
            - name: Coveralls
              uses: coverallsapp/github-action@v2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  path-to-lcov: ./target/coverage/lcov.info
                  parallel: true

    coverage:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Coveralls Finished
              uses: coverallsapp/github-action@v2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  parallel-finished: true
